.App {
  text-align: center;
    background: #ddd;
    padding: 20px;
    height: 300px;
    border-radius: 10px;
    margin: 20px 30px;
    border: 1px solid #d2d2d2ee
}

.btn-submit{
  background: #3CBC8D;
    margin: 0px 10px;
    border: none;
    font-size: 15px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
.leapHeading{
  font-size: 30px;
  margin: 0 0 20px 0;
  font-weight: bold;
  font-style: italic;

}
input#year {
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.App span{
  font-size: 18px;
  color: darkgreen;
  font-weight: bold;
}
p.message {
  font-size: 22px;
  font-style: italic;
  color: #7d439a;
  font-weight:bold;
}